.title{
    text-align: center;
    margin-top: 40px;
}

.suggests{
    padding: 5px;
    border: 1px solid;
    width: 452px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.suggests:hover{
    background-color: blanchedalmond;
}

.input_suggests{
    width: 415px;
    border-radius: 5px 0 0 5px;
    border: 3px solid #00B4CC;
}

.input_suggests:focus{
    outline: none;
}

.suggests_type{
    margin-left: 20px;
} 

.suggestion_input{
    display: flex;
    justify-content: center;
}

.iconSearch{
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.suggestions_div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description{
    margin-left:10px
}